{{ $ := .root }}
{{ $page := .page }}
{{ $button_text := ($page.Params.content.button_book_text | default "Book It") | markdownify | emojify }}

<div class="row justify-content-center">
  {{ with $page.Title }}
  <div class="section-heading col-12 mb-3 text-center">
    {{ with $page.Title }}<h1 class="mb-0">{{ . | markdownify | emojify }}</h1>{{ end }}
    {{ with $page.Params.subtitle }}<p class="mt-1">{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

</div>
<div class="row justify-content-center pt-3">
  <div class="col">
    {{ range $page.Params.content.services }}
    <div class="row pb-3">
      <div class="col-12 col-md-4">
        <div class="section-subheading">{{ .name | markdownify | emojify }}</div>
      </div>
      <div class="col-12 col-md-6">
        {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
      </div>
      <div class="col-12 col-md-2">
        <a href="{{.link}}" target="_blank" rel="noreferrer noopener" class="btn btn-primary btn-lg w-100" style="color: black;">{{$button_text}}</a>
      </div>
    </div>
    {{ end }}
  </div>
</div>
